*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
height:100;
width:100;
}
p{
    background-color:thistle;
    color:black;
    padding:20px;
    margin:20px;
}


 body {
background-color: rgb(245, 245, 226);
/*below is an interal method of css application*/
}

li {
display: inline;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(199, 199, 192);
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #111;
}
